version: '3.8'

services:
  web:
    image: anton60874022/ad_service:latest
    container_name: handmade_web
    command: >
      sh -c "
      while ! nc -z db 5432; do
        echo 'Waiting for database...';
        sleep 2;
      done;
      echo 'Database is ready!';
      python manage.py collectstatic --noinput --clear &&
      python manage.py migrate &&
      daphne -b 0.0.0.0 -p 8000 ad_service.asgi:application"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - ./logs:/app/logs
    expose:
      - "8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: unless-stopped
    networks:
      - backend

  db:
    image: postgres:14
    container_name: db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-ad_service_db}
      POSTGRES_USER: ${POSTGRES_USER:-ad_user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-ad_password}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d:ro
    restart: unless-stopped
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-ad_user}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    networks:
      - backend
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  nginx:
    image: nginx:1.21-alpine
    container_name: handmade_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./data/certbot/conf:/etc/letsencrypt:ro # Хранилище сертификатов
      - ./data/certbot/www:/var/www/certbot:rw # Каталог для веб-рут проверки
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - ./nginx/autoreload.sh:/docker-entrypoint.d/autoreload.sh # Скрипт автоперезагрузки
    depends_on:
      - web
    restart: unless-stopped
    networks:
      - backend

  certbot:
    image: certbot/certbot:latest
    container_name: handmade_certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt:rw # Основное хранилище
      - ./data/certbot/www:/var/www/certbot:rw # Общий каталог для проверки
    env_file:
      - .env # Для переменных DOMAIN_URL и DOMAIN_EMAIL
    depends_on:
      - nginx
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    restart: unless-stopped
    networks:
      - backend

volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  backend:
    driver: bridge