version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: handmade_db
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: handmade_redis
    restart: unless-stopped
    networks:
      - backend

  web:
    image: anton60874022/ad_service:latest
    container_name: handmade_web
    command: >
      sh -c "
      python manage.py migrate --noinput &&
      python manage.py collectstatic --noinput &&
      daphne -b 0.0.0.0 -p 8000 ad_service.asgi:application
      "
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    environment:
      - DATABASE_URL=postgresql://app_user:app_password@db:5432/app_db
      - REDIS_URL=redis://redis:6379/0
      - DEBUG=False
      - SECRET_KEY=django-insecure-default-key-change-me
      - ALLOWED_HOSTS=*
    restart: unless-stopped
    networks:
      - backend
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:alpine
    container_name: handmade_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - static_volume:/app/static
      - media_volume:/app/media
      - /etc/letsencrypt:/etc/letsencrypt:ro
    restart: unless-stopped
    networks:
      - backend
    depends_on:
      - web


volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  backend:
    driver: bridge