{% extends "users/base_auth.html" %}
{% load i18n %}

{% block title %}{% trans "Enter New Password" %}{% endblock %}

{% block content %}
<div class="text-center mb-4">
    <h2 class="fw-bold">{% trans "Enter New Password" %}</h2>
</div>

{% if validlink %}
<form method="POST">
    {% csrf_token %}

    <!-- New password -->
    <div class="mb-3">
        <label for="id_new_password1" class="form-label">{% trans "New Password" %}</label>
        <input type="password" name="new_password1" class="form-control" id="id_new_password1" required>
    </div>

    <!-- Password confirmation -->
    <div class="mb-3">
        <label for="id_new_password2" class="form-label">{% trans "Confirm New Password" %}</label>
        <input type="password" name="new_password2" class="form-control" id="id_new_password2" required>
    </div>

    <button type="submit" class="btn btn-primary w-100 py-2 mb-3">{% trans "Update Password" %}</button>
</form>
{% else %}
<div class="alert alert-warning">
    {% trans "The password reset link is invalid, possibly because it has already been used. Please request a new
    password reset." %}
</div>
{% endif %}
{% endblock %}